a {color: red;
text-decoration: none}
a:hover{text-decoration: underline}
.people {background: greenyellow;
        width: 400px;
        height: 400px;
        border:3px dash green;
        border: radius 5%;
        padding: 20px;
        font-size: 22px;
        color: red;
        margin: 30px 20px 30px 20px;
        margin-top: 30px;
        }
.你好 a{
    color: blue;
}        
.people:hover {text-decoration: underline}
.你好{background:grey}
html{
    height:100%;
}
body{
    background-image: linear-gradient(black, grey);
    background-size: 100%;
    background-repeat: no-repeat;
}